# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Pp]roperties/

#Visual Code
.vscode/

launchSettings.json
launch.json
tasks.json
appsettings.Development.json
appsettings.json
